<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Account Recovery</title>
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>
</head>

<body>
	<header>
		<!-- <img class="logo"> -->
	</header>
	<div>
		<h1>Account Recovery</h1>
		<p>Hi there.</p>
		<p>Complete your account recovery using this code:</p>
		<p>{{.Code}}</p>
		<p>Choose a strong password!</p>
		<p>We reccommend generating one using a password manager such as
			<a href="https://bitwarden.com">Bitwarden</a> and enabling 2FA TOTP.
		</p>
	</div>
	<footer>
		<a href="">Email</a>
		<a href="">Website</a>
		<a href="">GitHub</a>
	</footer>
</body>

</html>